<div *ngIf="post">

  <div class="container">

    <div class="post-wrapper">
      <h1>{{post.attributes.title}}</h1>
      <div *ngFor="let include of includes">
        <ul *ngIf="include.type=='user--user'" class="collection">
          <li class="collection-item avatar">
            <!-- TODO: FIX user image -->
            <span *ngFor="let user of includes">
                <img *ngIf="user.id==include.relationships.user_picture.data.id" src="http://localhost/{{user.attributes.url}}" class="circle">
            </span>
            <span class="title">{{include.attributes.name}}</span>
            <p>
              <a href="mailto:{{include.attributes.mail}}">{{include.attributes.mail}}</a>
            </p>
          </li>
        </ul>
          <div *ngIf="post.relationships.field_image.data" class="row">
            <img *ngIf="include.id==post.relationships.field_image.data.id" src="http://localhost/{{include.attributes.url}}" class="col s12">
          </div>
        </div>
      <p [innerHTML]='post.attributes.body.processed | trustHtml'></p>

      <div class="row">
        <div class="col s12">
          <div class="card-panel cardColor">
            <span class="white-text">
              <strong>TL;DR</strong> {{post.attributes.body.summary}}
            </span>
          </div>
        </div>
      </div>

      <a class="btn waves-effect waves-light btnColor" routerLink="/posts/{{post.id}}/edit">Edit </a>

      <button class="btn waves-effect waves-light btnColor" (click)="delete(post)">delete
        <i class="material-icons right">delete</i>
      </button>
    </div>
    </div>

  </div>
